<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", {title}) %>
  <body>
    <%- include("partials/header") %>
    <div class="main-container">
      <div class="new">
        <form action="/new" method="POST">
          <h2>Post a New Message ✉️</h2>
          <input type="text" name="user" placeholder="Your name" required />
          <textarea
            name="text"
            placeholder="Say something..."
            required
          ></textarea>
          <button type="submit" class="submit">Post</button>
        </form>
        <div class="back-link">
          <a href="/">&leftarrow; Back to home</a>
        </div>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
