@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background: #161616;
  color: #f3f3f3;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
/* Global Styling */
body > * {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.add-btn-wrapper {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}
.main-container {
  padding: 0 1rem;
  flex: 1;
  overflow-y: auto;
}
a {
  color: inherit;
}
form {
  display: flex;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f3f3f3;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.header div {
  display: flex;
  gap: 1rem;
}
.header a {
  text-transform: capitalize;
  transition: all 0.5s ease;
}
.header a:hover {
  color: gray;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

li {
  background-color: #f3f3f3;
  color: #161616;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
button {
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}
/* index */

.message-side {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  align-items: center;
}
.view-link,
.delete-btn {
  font-size: 0.9rem;
}
.delete-btn {
  color: rgb(201, 67, 44);
}
.delete-btn:hover {
  color: red;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
}
.back-link {
  display: flex;
  justify-content: center;
}
.new {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  gap: 0.5rem;
  text-align: center;
}
.new form {
  min-width: 400px;
}
.error {
  text-align: center;
  padding: 1rem;
}
.submit {
  background-color: #f3f3f3;
  color: #161616;
  padding: 0.3rem;
}
input,
textarea {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
}
.footer {
  text-align: center;
  padding: 0.5rem;
}
